<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>


    <header>

      {{ partial "top.html" . }}

      {{ partial "nav.html" . }}

    </header>

    <div class="container" id="content">
      {{ partial "home-features.html" . }}
      
      {{ .Content }}

      {{ partial "home-footeritems.html" . }}
    </div>

    {{ partialCached "footer.html" . }}

    {{ partial "scripts.html" . }}

</body>