{{ if isset .Params.images 0 }}

<div class="gallery row align-items-end" itemscope itemtype="http://schema.org/ImageGallery">

{{ range $img := .Params.images }}

    {{ $.Scratch.Set "imageurl" "/" }}
    {{$url := cond (isset $img "image") 
                $img.image 
                (printf "https://billeder.kragefolket.dk/gs/handler/getmedia.ashx?moid=%d&dt=2&g=2" $img.moid)
            }}

    {{ $thumb := $url }}
    {{ $large := $url }}

    {{ $.Scratch.Set "size" "1024x768" }}
    {{ if eq $img.format "portrait" }}
        {{ $.Scratch.Set "size" "768x1024" }}
    {{ end }}

    <figure 
        class="col-lg-3 col-md-4 col-6"
        itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ $large }}"
        class="d-block mb-4 h-100"
        itemprop="contentUrl"
        data-size='{{ $.Scratch.Get "size" }}' >
        <img src="{{ $thumb }}"
            class="figure-img img-thumbnail rounded"
            itemprop="thumbnail"
            alt="{{ $img.caption }}" />
    </a>
    <figcaption class="figure-caption" itemprop="caption description">{{ $img.caption }}</figcaption>
</figure>
    
{{ end }}
</div>

{{ end }}