<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $headerCss := (printf ".header-image { background-image: url('%s'); }" (.Site.Data.config.shared.topbanner ) ) }}
{{ $headerStyle := $headerCss | resources.FromString "header.css" }}
{{ $mainStyle := resources.Get "main.css" }}
{{ $combined := slice $mainStyle $headerStyle | resources.Concat "all.css" }}
{{ $css := $combined | resources.Fingerprint "sha512" }}
<link href="{{ $css.Permalink }}" rel="stylesheet"  integrity="{{ $css.Data.Integrity }}">
<!-- <script src="http://localhost:9000/bundle.js"></script> -->

<!-- Favicon and apple touch icons-->
<link rel="shortcut icon" href="{{ "/favicon.ico" | relURL }}" type="image/x-icon" />
<!-- <link rel="apple-touch-icon" href="{{ "img/apple-touch-icon.png" | relURL }}" /> -->

<!-- <link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}"> -->