<head>
    <meta charset="utf-8">
    {{ if isset .Params "windowtitle" }}        
    <title>{{ .Params.windowtitle }}</title>
    {{ else }}        
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{ end }}
  
    {{ if .Keywords }}
    <meta name="keywords" content="{{ delimit .Keywords ", " }}">
    {{ else if .Site.Params.DefaultKeywords }}
    <meta name="keywords" content="{{ delimit .Site.Params.DefaultKeywords ", " }}">	
    {{ end }}
  
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else if .Site.Params.DefaultDescription }}
    <meta name="description" content="{{ .Site.Params.DefaultDescription }}">	
    {{ end }}
  
    <!-- Facebook OpenGraph tags -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}/" />
    {{ if isset .Params "thumbnail" }}
    <meta property="og:image" content="{{ .Params.thumbnail | absURL }}" />
    {{ else }}
    <meta property="og:image" content="{{ .Site.Params.logo | absURL }}" />
    {{ end }}

    {{ partialCached "head-shared.html" . }}

</head>