{{ if isset .Params "features" }}
{{ if gt (len .Params.features) 0 }}
<section class="row mb-4">
    {{ range $index, $element := sort .Params.features "weight" }}
        <div class="col-xs-6 col-sm-4">
            <div class="card card-outline-primary p-3">
                <div class="card-block">
                    <a href="{{ $element.url | relURL }}">
                    {{ if isset $element "image" }}
                        <img src="{{ index $element "image" }}" class="img-thumbnail rounded" >
                    {{ else }}
                        <div class="icon">
                            <i class="{{ .icon }}"></i>
                        </div>
                    {{ end }}
                    </a>
                    <h3 class="card-title"><a href="{{ $element.url | relURL }}">{{ $element.title }}</a></h3>
                    <p class="card-text">{{ $element.description | markdownify }}</p>
                    <a class="btn btn-outline-secondary" role="button" href="{{$element.url | relURL }}">{{ i18n "readMore" }}</a>
                </div>
            </div>
        </div>
    {{ end }}
</section>
{{ end }}
{{ end }}
