{{ if isset .Params "footeritems" }}
{{ if gt (len .Params.footeritems) 0 }}
<section class="row">
{{ range $index, $element := sort .Params.footeritems "weight" }}    
    <div class="col-12 col-md-6 col-lg-8">
        {{ $element.text | markdownify }}
    </div>

    <div class="col-6 order-md-first col-md-3 col-lg-2">
        {{ if isset $element "leftimage" }}
            <img src="{{ index $element "leftimage" }}" class="border-0" >
        {{ end }}
    </div>

    <div class="col-6 col-md-3 col-lg-2">
        {{ if isset $element "rightimage" }}
            <img src="{{ index $element "rightimage" }}" class="border-0" >
        {{ end }}
    </div>

{{ end }}
</section>
{{ end }}
{{ end }}