<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand mb-0 h1" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
    </a>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ i18n "toggleNavigation" }}">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ .Name }} <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ range .Children }}
                        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
                </li>
                {{ end  }}
            {{ end }}
        </ul>
  </div>
</nav>

{{ if isset .Site.Data.config.shared "topbanner" }}
<div class="header-image"></div>
{{ end }}