<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}

    <body>
        <div id="all">
            <header>
                {{ partial "nav.html" . }}
            </header>

            {{ partial "breadcrumbs.html" . }}

            <div id="content">
                <div class="container">
                    <div class="row">
                        <article class="col-md-12">
                            <div id="post-content">
                                <h1>{{ .Title }}</h1>

                                {{ .Content }}
                            </div>

                            {{ if isset .Params "moid" }}
                            <p>
                                <a
                                    class="download-link"
                                    href="https://filer.kragefolket.dk/gs/handler/getmedia.ashx?moid={{ .Params.moid }}&dt=2&sa=1"
                                    target="_blank"
                                >
                                    {{ printf (i18n "downloadPaper") .Params.title }}
                                </a>
                            </p>
                            {{ end }}

                            {{if isset .Params "issuulink"}}
                            <p>
                                <a
                                    class="issuu-link"
                                    href="{{ .Params.issuulink }}"
                                    target="_blank"
                                >
                                    {{ printf (i18n "readPaper") .Params.title }}
                                </a>
                            </p>
                            {{ end }}

                            {{ if isset .Params "issuuid" }}
                            <div
                                style="width: 100%; height:0; padding-top: 90%; position: relative;"
                            >
                                <div
                                    data-configid="{{ .Params.issuuid }}"
                                    class="issuuembed"
                                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                ></div>
                                <script
                                    type="text/javascript"
                                    src="//e.issuu.com/embed.js"
                                    async="true"
                                ></script>
                            </div>
                            {{ end }}

                            {{ partial "gallery.html" . }}
                        </article>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /#content -->

            {{ partialCached "footer.html" . }}
        </div>
        <!-- /#all -->

        {{ partial "scripts.html" . }}
    </body>
</html>
