.header-image {
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    height: 280px;
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
        margin-top: 74px;
    }
    @include media-breakpoint-up(xl) {
        background-size: contain;
    }

}

body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/background.png');
}