<ul class="list-unstyled">
{{ range sort .Site.Data.enhed "weight" }}
{{ if isset . "title" }}
    <li class="media">
        <div class="media-body">
            <h2>
                {{ if isset . "ages"}} 
                    {{- .ages }} - 
                {{ end }}
                {{- .title }}
            </h2>
            {{ .body | markdownify }}

            {{ if isset . "time" }}
                <p>Tidspunkt: {{ .time }}</p>
            {{ end }}
            {{ if isset . "contact" }}
                <p>Kontakt: {{ .contact }}</p>
            {{ end }}
            {{ if isset . "kontingent" }}
                <p>Kontingent: {{ .kontingent }}</p>
            {{ end }}
        </div>
        {{ if isset . "logo"}} 
            <img class="align-self-start ml-3" src="{{ index . "logo" }}" alt="Logo for {{ .title }} enheden">
        {{ end }}
    </li>
{{ end }}
{{ end }}
</ul>